html,body{
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: auto;

	
}
body{
	font-family: Arial, Helvetica, sans-serif;
	
	background-color: #cfb8e7;
	background: linear-gradient(45deg, #cfb8e7, #5ca7ed);
	
}
.container{

	background-color: white;
	
	width: 320px;
	height: 420px;
	
	margin:0 auto;
	margin-top: 7%;
	border-radius: 5px;
	
}
.content1{
	
	height: 40%;
}
.content1 img{
	width: 20%;
	margin-top: 29%;
	overflow: both;
	margin-left: 40%;
	

	
}
.content2{

	margin-left:auto;
	margin-right: auto;
	
	width:60%;

	
}
input{
	color: #9f9f9f;
	margin-top: 2px;
	border: 1px solid #dbe1eb;
	width:90%;
	padding: 6px;

}
input[type=checkbox]{
	color: black;
	padding: 0px;
	width: auto;
	
	
}
input[type=submit]{
	background-color: #0079f2;
	border-radius: 5px;
	width: 40%;
	color:white ;
}
label{
	font-size: 11px;
}
h1{
	font-size: 16px;
}
img{
width: 10%;
list-style-type: none;
margin-left: -12%;


}